.banner {
    background-image: url('/src/CabinPhotos/BigBearBanner/Banner4.JPG');
    height: 33vh;
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 3vh;
}

.banner__info {
    background-color: black;
    color: white;
    padding: 2vh 20px 3vh;
    width: 200px;
    max-height: 200px;
    border-radius: 20px;
    margin: .5vh 2vw;
}


.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    font-weight: 600;
    margin-left: 45px;
    margin-top: 30px;
}

.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
}


.banner__info > h1 {
    font-size: 26px;
    text-align: center;
}

.banner__info > h4 {

    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.banner__info > h5 {
    margin-top: 10px;
}


@media screen and (max-width: 480px) {
    .banner {
        height: 25vh;
        padding-top: 10px;

    }

    .banner__info {
        padding: 2vh 10px 3vh;
        width: 175px;
        height: 125px;
        border-radius: 20px;
        margin: .5vh 10px;
    }

    .banner__info > button {
        margin-top: 20px;
        margin-left: 45px;
        padding: 3px;

    }

    .banner__info > h1 {
        font-size: 20px;
        text-align: center;
    }

    .banner__info > h4 {
        font-size: 14px;
        text-align: center;
    }


}