.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    box-shadow: 0 6px 11px -9px rgba(0, 0, 0, 0.25);
}



.header__icon {
    object-fit: contain;
    width: 150px;
    height: auto;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: -5px;
}

.weatherRight {
    margin-right: 30px

}

@media screen and (max-width: 480px) {
    .header__icon {
        object-fit: contain;
        width: 150px;
        height: auto;
        margin-left: 20px;
        padding-top: 5px;
        padding-bottom: -5px;
    }
}
