.marker {
    position: absolute;
    transform: translate(-50%, -50%);
}

.marker :hover {
      z-index: 1;

  }

.icon{

    cursor: pointer;

}


.location-info {
    width: 200px;
    height: 160px;
    top: -10px;
    transform: translate(-100%, -100%);
    position: absolute;
    background-color: rgba(255,255,255);;
    border-radius: 10px;
    color: black;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);

}


.image{
    width: 200px;
    height: 113px;
    border-radius: 10px;
}

.image > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.locationInfo_Bottom{
    padding: 5px;
    cursor: pointer;
}

.locationInfo_Bottom > h2{
    font-size: 15px;
    font-weight: 600;
    display: inline;
}

.locationInfo_Bottom > h4{
    font-size: 13px;
    font-weight: 400;
}

.locationInfo_guest > h4{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
}

.locationInfo_guest > h4 >  span{
    margin-right: 10px;
}

.rating {
    display: inline;
    float: right;
    position: relative;
    margin-right: 10px;
    padding-bottom: 0;
    top: 1px;
}

.rating > h5 {
    font-weight: 500;
    font-size: 12px;
    float: right;
    position: relative;
    margin-left: 1px;
    top: 1px;
}


.restaurantRating {

    padding-top: 2px;
    margin-right: 10px;
    padding-bottom: 0;
}

.restaurantRating > h5 {
    font-size: 11px;
    display: inline;
    font-weight: 500;
    position: relative;
    top: 1px;
    margin-left: 3px;
}

