.octoberFest-banner{
    margin: 20px;
    position: relative;
    width: calc(100% - 40px);
    height: 200px;
    background-image: url('/src/CabinPhotos/BigBearBanner/Maple-Colors.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.octoberFest-banner > h2{
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 10px;
    color: white;
    z-index: 90;
}

.octoberFest-banner::Before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.octoberFest-center{
    position: relative;
    z-index: 90;
    margin: auto auto;
    height: 200px;
    width: auto;

}

.octoberFest-center > img{
    z-index: 90;
    width: 100%;
    height: 100%;
    object-fit: contain;

}

